ENV=<Dev, Staging, Prod>
REDIS_PASSWORD=<Redis Password>
TABLE_ENDPOINT=<Azure table storage endpoint>
BLOB_ENDPOINT=<Azure blob storage endpoint>
STORAGE_ACCOUNT_CONNECTION_STRING=<Azure Storage Account SAS>
SENTRY_DSN=<Sentry DSN>