# The Token for your Discord Bot - *required
DISCORD_TOKEN=<discord_token>

# The client ID of the bot you wish to use Slash commands with - *required
CLIENT_ID=<client_id>

# Token for sending data to top gg
TOP_GG_TOKEN=<token>
TOP_GG_ID=<botid>

# GuildsID where you want your Slash commands to work (remove if you want them enabled Globally - think PROD)
TEST_GUILD_ID=<guild_id>

# For setting the env context you are running in
ENVIRONMENT=<dev/prod>
