{$DOMAIN} {
	redir https://docs.feyre.io

invite.{$DOMAIN} {
	redir https://discord.com/oauth2/authorize?client_id=500733845856059402&permissions=2147493952&scope=applications.commands%20bot
}

api.{$DOMAIN} {
  reverse_proxy {$PROXY_BACKEND}:{$PROXY_PORT}  {
    header_down Strict-Transport-Security max-age=31536000;
  }
}